html
  head
    title Ejemplo microservicios
    link(rel="stylesheet", href="https://unpkg.com/sakura.css/css/sakura.css", type="text/css")

  body
    h1 Ejemplo de microservicios
    p Ingrese un número en la caja de texto y obtendrá el nombre del número

    form(action='.')
      div
        label(for='numero') Número
        input(type='number' min='0' name='numero' id='numero' value=numero, required='required')
      div
        input(type='submit' value='Obtener string')
      div
        p #{nombre}
